*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html,body{
    width:100%;
    height:100%;
}

body{
    overflow:hidden;
}

.main{
    width:100%;
    height:100%;
    position:relative;
    background:
    radial-gradient(circle at bottom left,
    #b1004b 0%,
    #2d003f 45%,
    #120014 100%);
    color:white;
    padding:25px 60px;
}

nav{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

nav img{
    width:90px;
}

.nav-links{
    display:flex;
    gap:40px;
}

.nav-links a{
    color:#cfcfcf;
    text-decoration:none;
    font-size:17px;
}

.nav-links .active{
    color:white;
    border-bottom:2px solid white;
    padding-bottom:5px;
}

nav i{
    font-size:30px;
    cursor:pointer;
}

.hero{
    width:100%;
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}
.left{
    width:60%;
    padding-top:10px;
}

.title-img{
    width:380px;
}

.left p{
    color:#d5d5d5;
    line-height:28px;
    margin-top:25px;
    font-size:18px;
}

.buttons{
    display:flex;
    gap:20px;
    margin-top:40px;
}

.buttons button{
    width:180px;
    height:55px;
    border-radius:12px;
    border:none;
    font-size:18px;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
}

.play-btn{
    background:linear-gradient(to right,#ff2b75,#ff8f00);
}

.trailer-btn{
    background:transparent;
    border:1px solid #ff2b75 !important;
}

.center-text{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:120px;
}

.center-text span{
    transform: rotate(270deg);
    margin: 20px;
    font-size:14px;
    letter-spacing:3px;
}

.line{
    width:2px;
    height:100px;
    background:#ff4b86;
    margin-top:15px;
}

.right{
    width:45%;
    display:flex;
    justify-content:center;
}

.right img{
    width:520px;
}

.socials{
    position:absolute;
    right:60px;
    top:280px;
    display:flex;
    flex-direction:column;
    gap:25px;
}

.socials i{
    font-size:22px;
    color:#ff5a8d;
}

.bottom-cards{
    width:88%;
    height:170px;
    background:linear-gradient(to right, rgb(99, 7, 81),rgb(28, 1, 53));
    border-radius:30px;
    position:absolute;
    left:60px;
    bottom:30px;
    display:flex;
    align-items:center;
    gap:20px;
    padding:20px;
}

.bottom-card{
    width:31%;
    height:130px;
    border-radius:20px;
    overflow:hidden;
    position:relative;
}

.bottom-card img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.play-icon{
    width:40px;
    height:40px;
    border-radius:50%;
    background:rgba(255,255,255,0.2);
    position:absolute;
    right:15px;
    bottom:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    backdrop-filter:blur(5px);
}

.play-icon i{
    color:white;
    font-size:20px;
}

.bg-text{
    position:absolute;
    left:70px;
    bottom:160px;
    font-size:150px;
    color:rgba(255,255,255,0.04);
    letter-spacing:10px;
}

.side-text{
    position:absolute;
    right:-130px;
    top:180px;
    font-size:140px;
    transform:rotate(90deg);
    color:rgba(255,255,255,0.05);
    letter-spacing:10px;
}